@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    color: white;
    background-image: url('./images/purple.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}